*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IDEA ignore files
.idea/inspectionProfiles/
log/
target/generated-sources/
workspace.xml
bin/
lib/
.idea/artifacts/
out/
src/main/java/META-INF/
src/main/java/com/amarsoft/app/model/LawData/
target/classes/com/amarsoft/app/dao/LawData/
target/classes/com/amarsoft/app/job/
target/classes/com/amarsoft/app/model/execlostfaith/
target/classes/com/amarsoft/app/spider/
